/*Multiple languages coming soon. @AndrewKYang*/

body:not(.zh) :lang(zh){
    display: none;
}

body:not(.en) :lang(en){
    display: none;
}

body:not(.es) :lang(es){
    display: none;
}

h1, h2, h3 small {
    display: block;
}